rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- LOGIQUE RÔLES ---
    function getProfil() {
      return get(/databases/$(database)/documents/profils/$(request.auth.token.email)).data;
    }
    function isAdmin() {
      return getProfil().role == 'Admin';
    }
    function isActeur() {
      return getProfil().role in ['Admin', 'Acteur'];
    }

    // --- RÈGLES ---

    // 1. Profils
    match /profils/{email} {
      allow read, write: if isAdmin();
      allow get: if request.auth.token.email == email;
      allow update: if request.auth.token.email == email 
                      && request.resource.data.keys().hasOnly(['user_auth_id']);
    }

    // 2. Événements & Todos (MODIFIÉ)
    match /evenements/{eventId} {
      allow read: if isActeur();
      
      // CRÉATION : Seul l'Admin peut ouvrir une crise
      allow create: if isAdmin();
      
      // MODIFICATION : L'Acteur doit pouvoir modifier la synthèse (blessés, chimie...)
      // CHANGEMENT ICI : isAdmin() -> isActeur()
      allow update: if isActeur(); 

      // SOUS-COLLECTION TODOS (NOUVEAU)
      // Les règles imbriquées gèrent la sous-collection /evenements/{id}/todos
      match /todos/{todoId} {
        // Les Acteurs peuvent créer, cocher, supprimer des tâches
        allow read, write: if isActeur();
      }
    }

    // 3. Actions (SITREP)
    match /actions/{actionId} {
      allow read: if isActeur();
      allow write: if isActeur();
    }
    
    // 4. Historique (Backend seulement)
    match /historique_actions/{logId} {
      allow read: if isActeur();
      allow write: if false; 
    }
    match /historique_evenements/{logId} { // (NOUVEAU pour l'historique synthèse)
      allow read: if isActeur();
      allow write: if false;
    }

    // 5. Templates & Scénarios (Admin)
    match /templates_actions/{templateId} {
      allow read: if isActeur();
      allow write: if isAdmin();
    }

    // (NOUVEAU) Collection Scénarios
    match /scenarios/{scenarioId} {
      allow read: if isActeur(); // Les acteurs doivent les lire pour les appliquer
      allow write: if isAdmin(); // Seuls les admins créent les modèles de scénarios
    }

    // 6. Salles de crise
    match /crisis_room/{crisis_roomId} {
      allow read: if isActeur();
      allow write: if isAdmin();
    }
  }
}

